* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    padding: 200px;
    background-color: rgb(199, 202, 204);
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    gap: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;

}

h1 {
    margin-bottom: 4px;
}

.subtitle {
    color: #666;
    font-size: 0.95rem;
    margin-bottom: 16px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

